﻿/*@font-face {
    font-family: Segoe UI;
    src: url(/sabor-page/fonts/SEGOEUI.ttf);
}
@font-face {
    font-family: 'Segoe UI Light Regular';
    src: url(/sabor-page/fonts/segoeuil.ttf);
}*/
/* Font faces */
@font-face {
    font-family: 'Segoe UI Cursiva';
    src: url(/sabor-page/fonts/SEGOEUII.woff);
}
@font-face {
    font-family: 'Segoe UI Negreta cursiva';
    src: url(/sabor-page/fonts/segoeuiz.ttf);
}

@font-face {
    font-family: 'Segoe UI';
    src: url(/sabor-page/fonts/segoe_ui/normal/segoeui.eot);
    src: local("Segoe UI"),
         local("Segoe"),
         local("Segoe WP"),
         url(/sabor-page/fonts/segoe_ui/normal/segoeui.eot?#iefix) format('embedded-opentype'),
         url(/sabor-page/fonts/segoe_ui/normal/segoeui.woff) format('woff'),
         url(/sabor-page/fonts/segoe_ui/normal/segoeui.svg#SegoeUI) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Semibold';
    src: url(/sabor-page/fonts/segoe_ui/semibold/seguisb.eot);
    src: local("Segoe Semibold"),
         local("Segoe WP Semibold"), 
         url(/sabor-page/fonts/segoe_ui/semibold/seguisb.eot?#iefix) format('embedded-opentype'),
         url(/sabor-page/fonts/segoe_ui/semibold/seguisb.woff) format('woff'),
         url(/sabor-page/fonts/segoe_ui/semibold/seguisb.svg#SegoeUISemibold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url(/sabor-page/fonts/segoe_ui/bold/segoeuib.eot);
    src: local("Segoe Bold"),
         local("Segoe WP Bold"),
         url(/sabor-page/fonts/segoe_ui/bold/segoeuib.eot?#iefix) format('eot'), /* Wrong format will tell IE9+ to ignore and use WOFF instead. MSHAR-2822 */
         url(/sabor-page/fonts/segoe_ui/bold/segoeuib.woff) format('woff'),
         url(/sabor-page/fonts/segoe_ui/bold/segoeuib.svg#SegoeUIBold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Light';
    src: url(/sabor-page/fonts/segoe_ui/light/segoeuil.eot);
    src: local("Segoe UI Light"),
         local("Segoe WP Light"),
         url(/sabor-page/fonts/segoe_ui/light/segoeuil.eot?#iefix) format('embedded-opentype'),
         url(/sabor-page/fonts/segoe_ui/light/segoeuil.woff) format('woff'),
         url(/sabor-page/fonts/segoe_ui/light/segoeuil.svg#SegoeUILight) format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    padding-top: 0px;
    font-family: Segoe UI Light;
}
h1,h5{
	font-family: Segoe UI;
}
strong {
	font-family: Segoe UI Bold !important;
}
section p, footer p,section a,section li,table{
	font-family: Segoe UI Semibold;
}
.segoe-ui-cursive-light{
	font-family: Segoe UI Light !important;
	font-style: italic;
}
.segoe-ui-cursiva-negreta{
	font-family: Segoe UI Negreta Cursiva !important;
	font-style: normal;
}
.h1,h1{
	font-size: 47px;
}
strong{
    font-weight: 100;
}
.footer-img strong{
	text-transform: uppercase;
	font-weight: 600;
}
h5{
	font-size: 1.50rem;
}
section p,section a,section li,footer{
	font-size: 13px;
}
.footer-img p{
	position: relative;
	padding: 21px 1px;
	bottom: 55px;
	background: #FFB900;
	margin: 0px;
}
nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
	min-width: 111px;
	line-height: 108px;
}
nav ul .active:hover,nav ul .active{
    background-color: #FFB900;
}
nav ul li:hover {
 	background-color:#7171714D;
}

nav ul .active > a strong{
    color: #232323 !important;
}
.text-dark ,.text-dark a{
	color: #232323 !important;
}
.form-control{
	border-radius: 0rem;
}
.bg-dark-grey {
    background-color: #232323 !important;
}
.py-6{
	padding-top: 10rem !important;
    padding-bottom: 10rem !important;
}
.px-6{
	padding-left: 7.6rem !important;
    padding-right: 7.6rem !important;
}
.text-white{
	color: white;
}
.btn-sabor{
	margin-top: 35px;
	width: 15%;
}
.bg-black-transparent {
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.61);
}
.row2 > .bg-black-transparent
{
	padding: 1rem 2rem;
}
#screen-one {
    /*position: absolute;*/
	top: -31px;
	height: 26.6rem;
	right: 4rem;
}
.text-z1 {
	font-size: 18px;
    font-family: Segoe UI Light;
}
}
.text-z2 {
	font-size: 0.9rem;
}
footer > .text-z2 hr{
	border-color: #f2f2f2;;
}
.bg-full, .section-full {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	margin-top: -1px;
}
.bg-full {
	background-size: auto 100% ;
}
.bg-full-left {
	background-position: left top;
}
.bg-full-right {
	background-position: right top;
}
.section-full {
	min-height: auto;
}
.row2{
	margin-right: 0px;
	margin-left:  0px;
}

.row2 > div{
	padding-right: 0px;
	padding-left: 0px;
}
.pre-footer a {
	color:black;
}
@media (min-width: 1321px) {
    .bg-full {
	    background-size: 100% auto;
	   	background-position: 0px 38%;
	}
}

@media (max-width: 487px) {
    #screen-one {
    	height: auto;
		width: 83%;
		margin: auto;
		display: block;
	}
}
@media (max-width: 974px) {
    #screen-one {
    	height: auto;
		margin: auto;
		display: block;
		top: 12%;
		position: relative;
		width: 105%;
		left: 0%;
		margin-bottom: 43px;
	}
}
@media (max-width: 767px) {
    .row2 > .bg-black-transparent {
		padding: 6rem 2rem;
	}
}
@media (min-width: 980px) {
    .row2 > .bg-black-transparent {
		padding: 6rem 2rem;
	}
}

/*pricing*/
.btn {
	border-radius: .0rem;
}
.all-features{
	margin-top: 15rem;
}
.features {
	padding: 0rem 1rem;
	margin-top: 1rem;
}
.features-heading {
	/*background-color: #ffb900;*/
	background: linear-gradient(to right, rgba(255,185,0,1) 0%, rgba(255,220,21,1) 100%);
	/*padding: 1.5rem 0rem;*/
	padding: 0.1rem 0rem;
}
.features-body {
	background-color: #e8e8e8;
}
.features-heading img {
	margin-top: 5.5rem;
	margin-bottom: 2.5rem;
}
.features-heading h3 {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}
.features-heading img {
	width: 12rem;
}
.features-body h1 {
	color: #ffb900;
	background-color: white;
	padding: 0.1rem 0rem;
	margin-bottom: 0rem;
}
.features-body .table {
	margin-bottom: 0rem;
	color: black;
	font-size: 13px;
}
.features-body .table td, .table th {
    padding: 0.10rem 0.75rem;
}
.features-body{
	/*height: 52.3rem;*/
	height: 30.3rem;
	position: relative;
}
.features-body button {
	/*margin: 1.5rem;
	margin-top: 6rem;*/
	padding: 0.5rem 3rem;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -17px;
	bottom: 2.5rem;
}
.features::before {
	width: 0; 
	height: 0; 
	border-left: 100px solid #f0ad4e;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent; 
}
.features:after {
  	content: '';
	width: 0%;
	height: 0;
	position: relative;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 60px solid #e8e8e8;
	margin: auto;
	display: block;
}
.triangle {
	position: relative;
	margin: -14px 5px 15px 5px;
	top: 0px;
	left: 0;
	right: 0;
	width: 30px;
	height: 30px;
	transform: rotate(3deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	border-right: 2px solid #fff9f9;
	border-bottom: 2px solid #fff;
}
.line{
	width: 100px;
	border-top: 2px solid #fff9f9;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
}
.line-triangle{
	display: inline-flex;
}
/*.triangle:after{
	content: "";
	border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 16px solid #fff;
    margin: auto;
    width: 500px;
    height: 50px;
}*/